@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section {
  padding: 1rem 9%;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  width: 100%;
}
#menu-btn {
  display: none;
}

li{
  margin-left : 10px;
}
.heading {
  text-align: center;
  padding: 2rem 0;
}

.heading span {
  font-size: 2rem;
  background: #ffa51f;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
}

.heading span.space {
  background: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  /* background: #ffa51f; */
}

header.sticky {
  background: #ffa51f;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #ffa51f;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

header.sticky .logo {
  color: #fff;
}

header ul {
  display: flex;
  position: relative;
}

header ul li {
  list-style: none;
  position: relative;
}

header ul li a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  margin: 0 15px;
  color: #ffa51f;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
header.sticky ul li a {
  color: #fff;
}

header ul li a:hover {
  color: teal;
}
.home {
  position: relative;
  height: 100vh;
  background: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar {
	background-color: #ffa51f
}

.home h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.home h2 span {
  font-size: 40px;
  font-weight: 700;
  color: #ffa51f;
}

.home h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.btn {
  position: relative;
  text-decoration: none;
  background: #ffa51f;
  color: #fff;
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.4s ease-in-out;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn:hover {
  background: teal;
}

.content {
  display: flex;
  justify-content: space-between;
}

.aboutBx {
  padding-right: 100px;
}

.aboutBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.width50 {
  min-width: 50%;
}

.img-about {
  width: 300px;
  height: 300px;
  /* margin-left: 70px; */
  /* margin-right: auto; */
}

.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .box-container .box {
  flex: 1 1 10rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.services .box-container .box i {
  padding: 1rem;
  font-size: 2rem;
  color: #ffa51f;
}

.services .box-container .box h3 {
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
}

.services .box-container .box p {
  color: #666;
  font-size: 1rem;
  padding: 1rem 0;
}

.services .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.skill-content {
  padding-right: 30px;
}

.skills .width50 .bars {
  margin-bottom: 15px;
}

.skills .width50 .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .width50 span {
  font-weight: 500;
  font-size: 18px;
}

.skills .width50 .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .width50 .line:before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffa51f;
}

.width50 .html:before {
  width: 80%;
}

.width50 .css:before {
  width: 70%;
}

.width50 .javascript:before {
  width: 60%;
}

.width50 .bootstrap:before {
  width: 80%;
}
.width50 .react:before {
  width: 50%;
}

.project .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.project .box-container .box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  flex: 1 1 10rem;
  height: 15rem;
  position: relative;
}

.project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project .box-container .box .content-project {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  padding-top: 2rem;
  transition: 0.4s ease-in-out;
}

.project .box-container .box:hover .content-project {
  top: 0;
}

.project .box-container .box .content-project h3 {
  font-size: 1.5rem;
  color: #ffa51f;
}

.project .box-container .box .content-project p {
  font-size: 1rem;
  color: #eee;
  padding: auto;
  text-align: center;
}

.project .box-container .box .content-project .btn-project {
  position: relative;
  text-decoration: none;
  background: #ffa51f;
  color: #fff;
  margin-top: 0.5rem;
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.4s ease-in-out;
  font-size: 13px;
  font-weight: 300;
}

.project .box-container .box .content-project .btn-project:hover {
  background: teal;
}

.review p {
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.review .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.review .review-slider {
  padding-bottom: 2rem;
}

.review .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3 {
  color: #333;
  font-size: 1.5rem;
}

.review .box p {
  color: #666;
  font-size: 1rem;
  padding: 1rem 0;
}

.review .box .stars i {
  color: #ffa51f;
  font-size: 1.2rem;
}

/* @media (max-width: 880px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2rem 2rem;
  }
} */

@media only screen and (max-width: 576px) {
	.home {
		position: relative;
		height: 100vh;
		background: url(images/about.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		background-position: left;
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }

	  .aboutBx {
		  font-size: small;
	  }

	  .heading span {
		font-size: 1rem;
		background: #ffa51f;
		color: #fff;
		border-radius: 0.5rem;
		padding: 0.2rem 1rem;
		text-transform: uppercase;
	  }
}